#paddlepaddle==2.5.1
#paddleocr>=2.0.1
#
#https://www.codeproject.com/Tips/5347636/Getting-PaddleOCR-and-PaddlePaddle-to-work-in-Wind

--find-links https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html
paddlepaddle-gpu==2.5.1.post117
#paddlepaddle-gpu==2.5.1.post120
#paddlepaddle-gpu==2.3.2.post116
#
paddleocr>=2.0.1

numpy
pyautogui
tk
Pillow
opencv-python
deepl